h1, h2, h3 {
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
}

.container {
    text-align: center;
    padding: 40px;
    background-color: rgb(200,200,200);
    margin: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.image {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    max-width: 100%;
    width: 500px;
    padding-bottom: 20px;
    height: auto;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p, li {
    font-family: 'Times New Roman', Times, serif;
}

.back {
    background-color: gray;
    margin-bottom: 20px;
    padding: 10px;
}

.left, ul {
    text-align: left;
}

ul {
    margin: 0 0 20px 0;
}
